<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.calendar.kotlincource">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".kotlincodes.FireBase.DataBase.FireBaseActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".kotlincodes.mvvm.TestMVVMActivity"></activity>
        <activity android:name=".kotlincodes.dagger2.TestDagger2Activity" />
        <activity android:name=".kotlincodes.retrofit.TestRetrofitActivity" />
        <activity android:name=".kotlincodes.rx.TestRXActivity" />
        <activity android:name=".kotlincodes.recyclerview.KotlinRecyclerViewActivity" />
        <activity android:name=".kotlincodes.navigatecomponent.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".kotlincodes.mvp.TestMVPActivity" />
    </application>

</manifest>